# Firebase Configuration (Replace with your actual keys)
# Copy these into Admin/firebase-config.js
VITE_FIREBASE_API_KEY=AIzaSyAKQC-lNsZeJo4upvmPDisKoF1fT9jJndw
VITE_FIREBASE_AUTH_DOMAIN=aufp-cd19c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=aufp-cd19c
VITE_FIREBASE_STORAGE_BUCKET=aufp-cd19c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=868721814992
VITE_FIREBASE_APP_ID=1:868721814992:web:9633a8396d3c326c1d1dd5
VITE_FIREBASE_MEASUREMENT_ID=G-T8WVWYQGEE
